NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_KEY=
NUXT_API_SPORTS_KEY=
NUXT_API_BASKETBALL_KEY=
NUXT_API_BASKETBALL_BASE_URL=https://v1.basketball.api-sports.io
NUXT_THE_SPORTS_DB_API_KEY=123
NUXT_PUBLIC_SITE_URL=http://localhost:3001
NUXT_EDITORIAL_AI_API_KEY=
